/*

COMP33 HW1 Style Sheet

*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

/*
    The imported font should be applied to all body text.
*/
h1 {
    font-family: 'Noto Sans SC', sans-serif;
    color:blueviolet
}
/*@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');*/

/*h1 {
    font-family: 'Luckiest Guy', cursive;
    color: yellow;

}*/

p {
    color:rgb(240, 255, 242);
}

div {
    background-color: lightblue;
}

.navbar ul {
    /*
        Remove bullet points.
    */
    list-style: none;
    width: 500px;
    margin: 0 auto;
    /*
        No padding.
    */
    padding: 0;
    /*
        For navbars use background color that stands out.
    */
    background-color: lightpink;
    text-align: center;
}

/*
    Style individual list items.
*/
.navbar li {
    width: 150 px;
    background-color:lightpink;
    border: 1px solid purple;
    /*
        Show the navbar elements next to each other instead of on top of each
        other.
    */
    padding: 10px;
    display: inline-block;
    line-height: 40px;
}

/*
    Style links in navbar.
*/
.navbar a {
    color:#fff;
    text-decoration: none;
}

table, td {
    border: 1px solid gray;
}