/*

COMP33 HW1 Style Sheet

*/

/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');*/

/*
    The imported font should be applied to all body text.
*/
/*h1 {
    font-family: 'Noto Sans SC', sans-serif;
    color:blueviolet
}*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

h1 {
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: darkblue;
    font-size: larger;

}

h2 {
    font-family: 'Staatliches', cursive;
    color: darkblue;
    font-size: larger;
}

h3 {
    font-family: 'Staatliches', cursive;
    color: darkblue;
    font-size: larger;
}
h4 {
    font-family: 'Staatliches', cursive;
    color: darkblue;
    font-size: larger;
}

p {
    color: rgb(121, 12, 12);
    font-size: larger;
}

div {
    background-color: rgb(188, 218, 228);
    font-size: larger;
}

#dark-green-div {
    color: rgb(8, 80, 44);;
    font-size: larger;
}

.navbar ul {
    /*
        Remove bullet points.
    */
    list-style: none;
    width: 500px;
    margin: 0 auto;
    /*
        No padding.
    */
    padding: 0;
    /*
        For navbars use background color that stands out.
    */
    background-color: rgb(32, 121, 76);
    text-align: center;
}

/*
    Style individual list items.
*/
.navbar li {
    width: 150 px;
    background-color:rgb(23, 61, 92);
    border: 1px solid purple;
    /*
        Show the navbar elements next to each other instead of on top of each
        other.
    */
    padding: 10px;
    display: inline-block;
    line-height: 40px;
}

/*
    Style links in navbar.
*/
.navbar a {
    color:#fff;
    text-decoration: none;
}

table, td {
    border: 1px solid gray;
}

iframe {
    width:100%;
    height:100%;
    border: dotted;
}

.css-box-model {
    /*
        Demonstrates the CSS Box Model
    */
    border-width: 2px;
    /*
        In order to see the border, you will need a border style.
     */
    border-style: solid;
    /*
        You can add a margin to all four borders. If there is only one value,
        all borders are affected You can specify in clockwise order:
        top, right, bottom, left.
    */
    margin: 20px 10px 25px 35px;
    /*
        While margins are at the outside of the border, paddings are at the
        inside. You can specify a single value for all four margins, but you
        could also specify the padding individually the as for the margins.
    */
    padding: 50px;
}